/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/

/* SH Login Shortcode CSS */
/* .sh-login-shortcode .form-control-plaintext {
    padding: 10px !important;
} */
.sh-login-shortcode .btn-block {
    width: 100%;
}
.sh-login-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-login-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-login-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-login-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-login-shortcode .btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}
.sh-login-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-login-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-login-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-login-shortcode .alert {
    display: none;
}
.sh-login-shortcode .mb-3 {
    margin-bottom: 1rem;
}
.sh-login-shortcode .col-sm-6 {
    width: 49%;
    display: inline-block;
}
/* SH Login Shortcode CSS */

/* SH Register Shortcode CSS */
/* .sh-register-shortcode .form-control-plaintext {
    padding: 10px !important;
} */
.sh-register-shortcode .btn-block {
    width: 100%;
}
.sh-register-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-register-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-register-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-register-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-register-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-register-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-register-shortcode .alert {
    display: none;
}
/* SH Register Shortcode CSS */

/* SH Forgot Password Shortcode CSS */
/* .sh-forgot-password-shortcode .form-control-plaintext {
    padding: 10px !important;
} */
.sh-forgot-password-shortcode .btn-block {
    width: 100%;
}
.sh-forgot-password-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-forgot-password-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-forgot-password-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-forgot-password-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-forgot-password-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-forgot-password-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-forgot-password-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-forgot-password-shortcode .alert {
    display: none;
}
/* SH Forgot Password Shortcode CSS */

/* SH Reset Password Shortcode CSS */
/* .sh-reset-password-shortcode .form-control-plaintext {
    padding: 10px !important;
} */
.sh-reset-password-shortcode .btn-block {
    width: 100%;
}
.sh-reset-password-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-reset-password-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-reset-password-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-reset-password-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-reset-password-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-reset-password-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-reset-password-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-reset-password-shortcode .alert {
    display: none;
}
/* SH Reset Password Shortcode CSS */

/* SH Questionnaire Shortcode CSS */
.sh-questionnaire-shortcode .btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}
.sh-questionnaire-shortcode .btn:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05)
}
.sh-questionnaire-shortcode .btn-block {
    text-align: left;
    position: relative
}
.sh-questionnaire-shortcode .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
}
.sh-questionnaire-shortcode input[type=radio] {
    display: none;
}
.sh-questionnaire-shortcode .btn-primary,
.sh-questionnaire-shortcode .btn-primary:hover,
.sh-questionnaire-shortcode .btn-primary:active,
.sh-questionnaire-shortcode .btn-primary.active,
.sh-questionnaire-shortcode .btn-primary:visited,
.sh-questionnaire-shortcode .btn-primary:focus {
    background-color: #FD8F16 !important;
    border-color: #FD8F16 !important;
}
.sh-questionnaire-shortcode .quiz.hidden {
    display: none;
}
/* SH Questionnaire Shortcode CSS */

/* SH Upload CV Shortcode CSS */
.sh-upload-cv-shortcode .drop-zone {
    max-width: auto;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #FD9119;
    border-radius: 10px;
}
.sh-upload-cv-shortcode .drop-zone--over {
    border-style: solid;
}
.sh-upload-cv-shortcode .drop-zone__input {
    display: none;
}
.sh-upload-cv-shortcode .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}
.sh-upload-cv-shortcode .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}
.sh-upload-cv-shortcode .btn-remove-file {
    display: none;
}
.sh-upload-cv-shortcode .alert.alert-danger {
    display: none;
}
/* SH Upload CV Shortcode CSS */

/* SH Profile Shortocde CSS */
.sh-profile-shortcode .nav-item {
    list-style: none;
}
.sh-profile-shortcode .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.sh-profile-shortcode .row {
    padding-bottom: 0rem;
}
.sh-profile-shortcode .card-body {
    position: relative;
}
.sh-profile-shortcode .btn-circle-close {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    top: -10px;
    right: -10px;
}
.sh-profile-shortcode .country-region-uk-col {
    display: none;
}
.sh-profile-shortcode .nl-town-col {
    display: none;
}
.sh-profile-shortcode .select2-container {
    width: 100% !important;
}
/* SH Profile Shortocde CSS */

/* SH Change Email Shortcode CSS */
/* .sh-change-email-shortcode .form-control-plaintext {
    padding: 10px !important;
} */
.sh-change-email-shortcode .btn-block {
    width: 100%;
}
.sh-change-email-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-change-email-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-change-email-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-change-email-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-change-email-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-change-email-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-change-email-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-change-email-shortcode .alert {
    display: none;
}
/* SH Change Email Shortcode CSS */

/* SH Change Password Shortcode CSS */
/* .sh-change-email-shortcode .form-control-plaintext {
    padding: 10px !important;
} */
.sh-change-password-shortcode .btn-block {
    width: 100%;
}
.sh-change-password-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-change-password-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-change-password-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-change-password-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-change-password-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-change-password-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-change-password-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-change-password-shortcode .alert {
    display: none;
}
/* SH Change Password Shortcode CSS */

/* SH GDPR Shortcode CSS */
.sh-gdpr-shortcode .btn-block {
    width: 100%;
}
.sh-gdpr-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-gdpr-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-gdpr-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-gdpr-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-gdpr-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-gdpr-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-gdpr-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-gdpr-shortcode .alert {
    display: none;
}
/* SH GDPR Shortcode CSS */

/* SH APPLY Shortcode CSS */
.sh-apply-shortcode .btn-block {
    width: 100%;
}
.sh-apply-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-apply-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-apply-shortcode .btn-primary,
.sh-apply-shortcode .btn-primary:hover,
.sh-apply-shortcode .btn-primary:active,
.sh-apply-shortcode .btn-primary.active,
.sh-apply-shortcode .btn-primary:visited,
.sh-apply-shortcode .btn-primary:focus {
    background-color: #FD8F16 !important;
    border-color: #FD8F16 !important;
    color: white !important;
}
.sh-apply-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-apply-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-apply-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-apply-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-apply-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-apply-shortcode .alert {
    display: none;
}
/* SH APPLY Shortcode CSS */

/* SH MY JOBS Shortcode CSS */
.sh-my-jobs-shortcode .btn-block {
    width: 100%;
}
.sh-my-jobs-shortcode .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.sh-my-jobs-shortcode .btn-check:active+.btn-success, .btn-check:checked+.btn-success, .btn-success.active, .btn-success:active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f;
}
.sh-my-jobs-shortcode .btn-primary,
.sh-my-jobs-shortcode .btn-primary:hover,
.sh-my-jobs-shortcode .btn-primary:active,
.sh-my-jobs-shortcode .btn-primary.active,
.sh-my-jobs-shortcode .btn-primary:visited,
.sh-my-jobs-shortcode .btn-primary:focus {
    background-color: #FD8F16 !important;
    border-color: #FD8F16 !important;
    color: white !important;
}
.sh-my-jobs-shortcode .btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.sh-my-jobs-shortcode .btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.sh-my-jobs-shortcode .alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.sh-my-jobs-shortcode .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.sh-my-jobs-shortcode .alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.sh-my-jobs-shortcode .alert {
    display: none;
}
.apply-bttn {
    display: none !important;
}
/* SH MY JOBS Shortcode CSS */

/* SH NAV SHORTCODE CSS */
.sh-nav-shortcode a {
    font-size: 15px;
    color: #888888;
}
/* SH NAV SHORTCODE CSS */